.title__header {
    text-align: center;
    color: #0074B7;
    font-size: 20px;
}

.section__image, .about__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__image,
.AboutUs > p {
    padding: 0 8%;
}

.section__image > img {
    width: 100%;
    height: auto;
}

.AboutUs > p {
    text-align: center;
}

/* .aboutUs__button {
    background-color: #163C5E;
    color: #f2f2f2;
    padding: 2% 10%;
    border-radius: 10px;
} */

.aboutUs__button {
    background-color: #163C5E;
    color: #f2f2f2;
    padding: 10px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none; /* To remove the default browser styling for buttons */
    text-decoration: none; /* To remove underline from text */
    font-size: 1em; /* Adjust as needed */
    text-align: center; /* To center the text inside the button */
}


.about__button {
    padding: 5% 10%;
}

@media (min-width: 700px) {
    .title__header {
        font-size: 24px;
    }

    .AboutUs > p {
        font-size: 18px;
    }

    .about__button {
        padding: 2% 10%;
    }
}

@media (min-width: 1000px) {
    .AboutUs {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        grid-template-rows: auto auto auto; /* Three rows, height set automatically */
        grid-column-gap: 20px; /* Adjust the gap between columns as needed */
        padding: 0 4%;
    }
    
    /* Image spans all three rows in the first column */
    .AboutUs .section__image {
        grid-column: 1 / 2; /* Span first column */
        grid-row: 1 / 4; /* Span from row 1 to 4, covering rows 1, 2, and 3 */
    }
    
    /* Title in the first row of the second column */
    .AboutUs .title__header {
        grid-column: 2 / 3; /* Span second column */
        grid-row: 1; /* First row */
        text-align: left;
        padding: 0 8%;
        font-size: 32px;

    }
    
    /* Paragraph in the second row of the second column */
    .AboutUs p {
        grid-column: 2 / 3; /* Span second column */
        grid-row: 2; /* Second row */
        text-align: left;
    }
    
    /* Button in the third row of the second column */
    .AboutUs .about__button {
        grid-column: 2 / 3; /* Span second column */
        grid-row: 3; /* Third row */
    }
    
    /* Optional margins for better spacing */
    .AboutUs .title__header {
        margin-bottom: 10px; /* Adjust as needed */
    }
    
    .AboutUs p {
        margin-bottom: 10px; /* Adjust as needed */
    }

    .about__button {
        justify-content: flex-start;
        padding: 0 8%;
    }    
}