.about__text{
    margin: 0 8%;
    text-align: center;
}

.AboutPage > .mobile__image__container > img {
    width: 100%;
    height: auto;
}

.mobile__image__container {
    margin: 2% 8%;
}

.about__text > p > strong {
    color: #0074B7;
    text-decoration: underline;
}