 .contactUs__container > form {
    display: flex;
    flex-direction: column;
    width: 300px;
}


.contact__form > input, 
.contact__form > textarea, 
.contact__form > button {
    margin-top: 5px;
}

.contact__form > button {
    margin-top: 20px;
}

.icon__and__text {
    display: flex;
}

@media (min-width: 1000px) {
    .contactUs__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        align-items: center;
        padding: 2% 8%;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 3; }
        .div2 { grid-area: 1 / 1 / 2 / 2; }
        .div3 { grid-area: 1 / 2 / 2 / 3; }

    .icon__and__text {
        align-items: center;
    }

    .icon__and__text > p {
        padding-left: 15px;
    }

    .icon__and__text > p > a {
        text-decoration: none;
    }
}
