.Hero {
    text-align: center;
    padding: 0 8%;
}

.Hero > h3 {
    color: #0074B7;
    margin-bottom: 15px;
    margin-top: 25px;
}

.Hero > h1 {
    color: #333;
    margin-top: 0;
}

.hero__button {
    background-color: #163C5E;
    color: #f2f2f2;
    padding: 2% 10%;
    border-radius: 10px;
}

@media (min-width: 700px) {
    .Hero > h3 {
        font-size: 24px;
    } 

    .Hero > h1 {
        font-size: 32px;
    }

    .hero__button {
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    .Hero > h3 {
        font-size: 32px;
    } 

    .Hero > h1 {
        font-size: 40px;
    }

    .hero__button {
        font-size: 16px;
    }
}