    .TeamMember {
        padding: 0 8%;
    }

    .member__Img {
        display: flex;
        justify-content: center;  
        padding-top: 5%;
    }

    .member__Img > img {
        width: 100%;
        height: auto;
    }

    .member__Name, 
    .member__Bio,
    .member__Title {
        text-align: center;
    }

    .button__Container {
        display: flex;
        justify-content: space-evenly;
    }
    
    .button__Container > div > a > button {
        background-color: #5E8B7E;
        color: #f2f2f2;
        padding: 10px 50px;
        border-radius: 10px;
    }

    .button__Container > a > button {
        background-color: #163C5E;
        color: #f2f2f2;
        padding: 10px 25px;
        border-radius: 10px;
    }

    .button__Container > div > a > button,
    .button__Container > a > button {
        display: flex;
        align-items: center;
    }

    .button-style {
        text-decoration: none;
    }

    